{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if entry %}
        <form action="{% url 'wiki:editPage' %}" method="post">
            {% csrf_token %}
            <input name="title" type="hidden" value="{{ title }}">
            <button class="align-items-center btn btn-primary d-flex justify-content-center" type="submit" value="Edit">
                <span class="material-icons">edit</span>
                <span class="mx-2">Edit</span>
            </button>    
        </form>
        {{ entry|safe }}
    {% else %}
        <p>The requested page was not found!</p>
    {% endif %}    
{% endblock %}