{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <!-- Google Material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2 class="pl-4 pb-3">Wiki</h2>
                <form action="{% url 'wiki:search' %}" class="pl-2" method="post">
                    {% csrf_token %}
                    <input class="form-control search" type="text" name="q" placeholder="Search Encyclopedia" {% if entriesTitles %} list="entriesTitles" {% endif %}>
                    
                    {% if entriesTitles %}
                        <datalist id="entriesTitles">
                            {% for title in entriesTitles %}
                                <option value="{{ title }}">
                            {% endfor %}
                        </datalist>
                    {% endif %}
                    
                </form>
                <div class="list-group list-group-flush pl-2">
                    <div class="list-group-item bg-transparent d-flex align-items-center">
                        <span class="material-icons align-middle">home</span>
                        <a class="align-middle ml-2" href="{% url 'wiki:index' %}">Home</a>
                    </div>
                    <div class="list-group-item bg-transparent d-flex align-items-center">
                        <span class="material-icons align-middle">add</span>
                        <a class="align-middle ml-2" href="{% url 'wiki:newPage' %}">Create New Page</a>
                    </div>
                    <div class="list-group-item bg-transparent d-flex align-items-center">
                        <span class="material-icons align-middle">shuffle</span>
                        <a class="align-middle ml-2" href="{% url 'wiki:randomPage' %}">Random Page</a>
                    </div>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9 p-4">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>