{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1 class="p-0">Search result for "{{ query }}":</h1>
    <ul class="list-group list-group-flush">
        {% for entry in entries %}
            <div class="list-group-item">
                <li>
                    <a href="{% url 'wiki:title' entry %}">{{ entry }}</a>
                </li>
            </div>
        {% empty %}            
            <div class="list-group-item">
                <li>No results!</li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}