{% extends "network/layout.html" %}

{% block body %}
    <form action="{% url 'network:newPost' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ NewPostForm }}
            <div class="pt-3">
                <input class="btn btn-primary" type="submit" value="Save">
            </div>
        </div>
    </form>

    {% for post in posts %}
        <div>
            <h3>{{ post.poster }}</h3>
            <p>{{ post.timestamp }}</p>
            <p>{{ post.content }}</p>
            <p>Likes: {{ post.postLikes.count }}</p>
        </div>
    {% endfor %}
{% endblock %}