{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    <div id="app"></div>
    <script type="text/babel" src="{% static "/network/App.jsx" %}"></script>

    <form action="{% url 'network:newPost' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ NewPostForm }}
            <div class="pt-3">
                <input class="btn btn-primary" type="submit" value="Save">
            </div>
        </div>
    </form>

    {% for post in posts %}
        <div>
            <a href="{% url 'network:profilePage' post.poster %}">
                <h4>{{ post.poster }}</h4>
            </a>
            <p>{{ post.timestamp }}</p>
            <p>{{ post.content }}</p>
            <p>Likes: {{ post.postLikes.count }}</p>
        </div>
    {% endfor %}
{% endblock %}