{% extends "network/layout.html" %}

{% block body %}
    <h4>{{ user_.username }}</h4>
    <p>Followers: {{ user_.userFollowers.count }}</p>
    <p>Followees: {{ user_.userFollowees.count }}</p>

    {% for post in userPosts %}
        <div>
            <a href="{% url 'network:profilePage' post.poster %}">
                <h3>{{ post.poster }}</h3>
            </a>
            <p>{{ post.timestamp }}</p>
            <p>{{ post.content }}</p>
            <p>Likes: {{ post.postLikes.count }}</p>
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
    
    {% if user.is_authenticated and user != user_ %}
        <form action="{% url 'network:follow' user_%}">
           <button>Follow</button> 
        </form>
    {% endif %}
{% endblock %}