{% extends "auctions/layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <h2 class="my-3">Categories</h2>
    <div class="d-flex align-items-center row justify-content-start">
        {% for KEY, VALUE in CATEGORIES.items %}
            <div class="col-sm-6 col-lg-4 col-xl-3 p-3">
                <a class="btn btn-block btn-light btn-lg shadow border" href="{% url "commerce:category" KEY %}" role="button">
                    <h5 class="card-title m-0 p-3 text-secondary">{{ VALUE }}</h5>
                </a>
            </div>
        {% empty %}
            <li>
                <h3>No categoris.</h3>
            </li>
        {% endfor %}
{% endblock %}