{% extends "auctions/layout.html" %}
{% load util %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing, maxBidAmount, category in data %}
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>
                        <a href={% url 'commerce:listing' listing.id %}> 
                            Title: {{ listing.title }}
                        </a>
                    </th>
                    <td>Description: {{ listing.description }}</td>
                    
                    <!-- Ensure there are bids -->
                    {% if maxBidAmount %}
                        <td>Highest bid: {{ maxBidAmount }}</td>
                    <!-- There are no bids -->
                    {% else %}
                        <td>Starting bid: {{ listing.startingBid }}</td>
                    {% endif %}

                    <!-- Ensure imgURL is provided -->
                    {% if listing.imgURL %}
                        <td>Image: <img class="foo" src="{{ listing.imgURL }}" width="200"></td>
                    <!-- imgURL is not provided -->
                    {% else %}
                        <!-- foo: do a placeholder image -->
                    {% endif %}
                    
                    <td>Category: {{ category }}</td>
                <tr>
            </tbody>
        </table>
    {% empty %}
        <p>No listings.</p>
    {% endfor %}
{% endblock %}