{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body class="p-0">
        <nav class="bg-dark navbar navbar-dark navbar-expand-lg p-3 shadow-lg">
            <div class="container">
                <a class="h1 mb-0 navbar-brand" href="{% url 'commerce:index' %}">Auctions</a>  
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <p class="m-0 nav-link active">
                            {% if user.is_authenticated %}
                                Signed in as <strong>{{ user.username }}</strong>.
                            {% else %}
                                Not signed in.
                            {% endif %}
                        </p>
                    </li>
                </ul>
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'commerce:index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'commerce:categories' %}">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'commerce:logout' %}">Log Out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'commerce:newListing' %}">Add New Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'commerce:watchlist' %}">Watchlist</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'commerce:login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'commerce:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container p-2">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
