{% extends "auctions/layout.html" %}
{% load util %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>
                    <a href={% url 'commerce:listing' listing.id %}> 
                        Title: {{ listing.title }}
                    </a>
                </th>
                <td>Description: {{ listing.description }}</td>
                
                <!-- Ensure there are bids -->
                {% if maxBidAmount %}
                        <td>Highest bid: {{ maxBidAmount }}</td>
                <!-- There are no bids -->
                {% else %}
                    <td>Starting bid: {{ listing.startingBid }}</td>
                {% endif %}
                
                <!-- Ensure imgURL is provided -->
                {% if listing.imgURL %}
                    <td>Image: <img class="foo" src="{{ listing.imgURL }}" width="200"></td>
                <!-- imgURL is not provided -->
                {% else %}
                    <!-- foo: do a placeholder image -->
                {% endif %}
                
                <td>Category: {{ category }}</td>
            <tr>
        </tbody>
    </table>

    <!--
    If the user is signed in, the user should be able to bid on the item. The bid must be at least as large as the starting bid, and must be greater than any other bids that have been placed (if any). If the bid doesn’t meet those criteria, the user should be presented with an error.
    If the user is signed in and is the one who created the listing, the user should have the ability to “close” the auction from this page, which makes the highest bidder the winner of the auction and makes the listing no longer active.
    If a user is signed in on a closed listing page, and the user has won that auction, the page should say so.
    Users who are signed in should be able to add comments to the listing page. The listing page should display all comments that have been made on the listing.
     -->
    {% if user.is_authenticated %}
        <!-- If the user is signed in, the user should be able to add the item to their “Watchlist.” If the item is already on the watchlist, the user should be able to remove it. -->
        <!-- if the watchlist == None (i.e., the listing is not in the watchlist of the user) -->
        {% if not isOnWatchlist %}
            <form action="{% url 'commerce:watchlist' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="hidden" value="{{ listing.id }}" name="listingId">
                    <div class="pt-3">
                        <input class="btn btn-primary" type="submit" value="Add to watchlist">
                    </div>
                </div>
            </form>
        {% else %}
            <form action="{% url 'commerce:removeWatchlist' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="hidden" value="{{ listing.id }}" name="listingId">
                    <div class="pt-3">
                        <input class="btn btn-danger" type="submit" value="Remove from watchlist">
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}