{% extends "auctions/layout.html" %}

{% block title %}
    New Listing
{% endblock %}

{% block body %}
    <h2 class="mb-4 mt-3">Add New Listing</h2>
    <form action="{% url 'commerce:newListing' %}" method="post">
        <div class="form-group row">
            {% csrf_token %}
            {# Loop over NewListingForm (i.e., fields) #}
            {% for field in NewListingForm %}
                <div class="col-2 my-2">
                    <label>{{ field.label }}:</label>
                </div>
                <div class="col-10 my-2">
                    {{ field }}
                </div>
            {% endfor %}
            <div class="d-flex col-12 justify-content-start pt-3">
                <input class="btn btn-primary px-5" type="submit" value="Save">
            </div>
        </div>
    </form>
{% endblock %}