/* Set a specific size for card's image */
.card-img-top {
    width: 16rem;
    height: 16rem;
    object-fit: contain;
}

/* Set a specific size for listing's image */
.listing-img {
    width: 28rem;
    height: 28rem;
    object-fit: contain;
}

/* Set a specific size for comment's icon */
.comment-icon {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}